# Configurações do Banco de Dados
DB_HOST=181.189.64.66
DB_PORT=3305
DB_USER=kaio
DB_PASSWORD=Kaio@3005
DB_NAME=replayzone
DB_CONNECTION_LIMIT=10

# Configurações do Servidor
PORT=3010
NODE_ENV=production

# Tokens do Telegram
TELEGRAM_ERROR_TOKEN=7952969691:AAEJsQhzLuX6o6yYbz9lwkCbHvj5VNFrBNU
TELEGRAM_SUCCESS_TOKEN=8043330772:AAF0Rdzx0mjXnpvaDo_yeCoiYu1N7EG5QXA

# Caminhos dos Vídeos
SHINOBI_VIDEOS_PATH=/home/Shinobi/videos
FTP_VIDEOS_PATH=/home/ftp/videos
TEMP_PATH=/app/temp
HLS_PATH=/app/hls

# Configurações de Vídeo
SEGMENT_DURATION=30
HLS_SEGMENT_DURATION=6
MAX_PROCESSING_TIME=300000
CLEANUP_INTERVAL=3600000

# URL Base (para produção)
BASE_URL=https://replay.replayzone.com.br